.sectionMovies {
    display: flex;
    justify-content: center;
    align-items: center;
}

.moviesContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 180px;
}

.movies {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    gap: 100px;
    background: #0A031C;
    backdrop-filter: blur(15px);
}